
body
{
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
}

.container
{
    width: 900px;
    margin: 350px auto 0;
    display: flex;
}

.container .box
{
    position: relative;
    width: 300px;
    height: 150px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 10px;
}

.container .box .icon
{
    width: 100%;
    height: 100%;
    background: #0f00da;
    transition: 0.5s;
    transform-origin: top;
    align-items: center;
    transform: translateY(0) rotateX(0deg);
}

.container .box:hover .icon
{
    transform: translateY(100%) rotateX(90deg);
}

.container .box .icon .fa
{
  font-size: 5em;
  line-height: 150px;
  color: #fff;
}

.container .box .details
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(22, 182, 1);
  transition: 0.5s;
  transform-origin: bottom;
  transform: translateY(-100px) rotateX(90deg);
}

.container .box:hover .details
{
  transform: translateY(0) rotateX(0deg);
}

.container .box .details h3
{
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  color: #000;
  font-family: sans-serif;
}

.container .box:nth-child(2) .details
{
  background: rgb(255, 230, 0);
}

.container .box:nth-child(3) .details
{
  background: rgb(196, 1, 1);
}
